* {
    box-sizing: border-box;
}

@font-face {
    font-family: Lato;

    src: url(Lato-Regular.ttf);
}

@font-face {
    font-family: LatoLight;

    src: url(Lato-Light.ttf);
}

body {
    margin: 0%;
    width: 100%;
    overflow-x: hidden;
    background-color: #f5f5f5;
    font-family: "Lato";
}

.main {
    position: absolute;
    left: 0em;
    width: 100%;
    overflow-x: hidden;
    transition: 0.5s;
}

.mainAbierto {
    position: absolute;
    left: -15em;
    transition: 0.5s;
    filter: blur(1px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #003b49;
}

.titulo {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}

.titulo img {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
}

h1 {
    width: auto;
    margin: 0%;

    font-variant: small-caps;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 0.32em;
    color: #ffc845;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botonMenu {
    position: absolute;
    right: 1em;
    top: 20px;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    transition: 0.2s;
    background-color: #003b49;
}

.botonMenu:hover,
.botonMenu:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.botonMenu:active {
    transform: scale(0.9);
}

.botonMenu:active,
.botonMenu:focus {
    outline: none;
}

.botonMenu .hamburguer {
    width: 30px;
    height: 30px;
    transition: 0.4s;
}

.botonMenu .hamburguer,
.botonMenu .hamburguer .linea {
    display: block;
    margin: auto;
}

.botonMenu .hamburguer .linea {
    width: 30px;
    height: 3px;
    background: #ffc845;
    transition: 0.2s;
    outline: 1px solid transparent;
}

.botonMenu .hamburguer .linea-1 {
    transform: rotate(0) translate3d(0, 5px, 0);
}

.botonMenu .hamburguer .linea-2 {
    transform: rotate(0) translate3d(0, 10px, 0);
}

.botonMenu .hamburguer .linea-3 {
    transform: rotate(0) translate3d(0, 15px, 0);
}

.menuAbierto .botonMenu .hamburguer {
    transform: rotate(90deg);
}

.menuAbierto .botonMenu .hamburguer .linea-1 {
    transform: rotate(45deg) translate3d(0, -1, 0);
}

.menuAbierto .botonMenu .hamburguer .linea-2 {
    opacity: 0;
}

.menuAbierto .botonMenu .hamburguer .linea-3 {
    opacity: 0;
}

.navegador {
    position: absolute;
    right: -15em;
    top: 0em;
    width: 15em;
    transition: 0.5s;
}

.navegadorAbierto {
    position: absolute;
    right: 0em;
    top: 0em;
    width: 15em;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 2px #5e5e5e;
}

.lista {
    list-style: none;
    background-color: #f5f5f5;
    color: #5e5e5e;
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
    letter-spacing: 0.12em;
    height: 100vh;
    padding-top: 3em;
}

li a {
    text-decoration: none;
    color: #003b49;
    cursor: pointer;
    font-variant: small-caps;
}

.motivo {
    background-color: #003b49;
}

.tituloDos {
    margin-left: 1.2em;
    padding-top: 1em;
    color: #ffc845;
    font-size: 2em;
    line-height: 2.24em;
    letter-spacing: 0.32em;
    font-variant: small-caps;
}

hr {
    width: 80%;
    background-color: #ffc845;
    text-align: left;
    height: 1px;
    border: 0px;
}

.contenido {
    display: flex;
    margin: 1em 2.5em 0em 2.5em;
    padding-bottom: 1em;
    justify-content: space-evenly;
    align-items: center;
    color: #ffc845;
}

.contenido img {
    height: 20em;
    margin: 0em 3em 3em 0em;
}

.contenido p {
    font-size: 20px;
    word-spacing: 0.24em;
    line-height: 1.95em;
    font-family: "Lato";
}

.mapa {
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    margin: 5em 0em;
}

.mapamundi {
    margin-top: 5em;
    width: 50%;
    line-height: 1.3em;
    align-items: center;
    background: #f5f5f5;
    overflow: hidden;
}

svg {
    width: 100%;
}

path {
    fill: #003b49;
}

.pathOpen {
    fill: #ffc845;
}

.banderas {
    width: 20%;
    transition: 1s;
    flex-direction: column;
}

.bande {
    background-color: #003b49;
    border-radius: 5px;
}

figure img {
    width: 100%;
    height: 10%;
    border-radius: 5px;
    cursor: pointer;
}

.texto {
    color: #ffc845;
    height: 0px;
    transform: scale(0);
    transition: 1s;
}

.textoAbierto {
    color: #ffc845;
    height: 400px;
    transform: scale(1);
    line-height: 1.3em;
    font-family: "Lato";
    letter-spacing: 0.08em;
    word-spacing: 0.08em;
    transition: 1s;
    padding: 0em 1em 1em 1em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #003b49;
    color: #ffc845;
    height: 5em;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.12em;
}

/*-------------------------------------------------*/
.controAudio {
    width: 5%;
    height: 5%;
    background-color: #003a4900;
    border-radius: 50%;
    margin-bottom: 5vh;
}

#muteador {
    margin-left: 20vh;
}

#iconoMuteador,
#iconoReproductor {
    width: 100%;
    height: 100%;
}