* {
    box-sizing: border-box;
  }
  @font-face {
    font-family: Lato;
    src: url("Lato-Regular.ttf");
  }

  body {
    margin: 0%;
    padding: 0%;
    font-family: "Lato";
    color: whitesmoke;
    background: rgb(255, 196, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 196, 0, 1) 0%,
      rgba(42, 79, 195, 1) 50%,
      rgba(213, 12, 12, 1) 100%
    );
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    margin: 0%;
    padding: 1em;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 0px 0px 12px 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  nav div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .navE {
    height: 3em;
    width: 3em;
  }
  .et {
    font-size: 2em;
    line-height: 2em;
    font-variant: small-caps;
    font-weight: bolder;
    color: #f8f9fa;
    margin-left: 0.5em;
  }
  nav button {
    height: 3em;
    width: 3em;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: #fdfeff;
  }
  .navE img {
    height: 100%;
    width: 100%;
  }
  .navE button img {
    width: 2em;
    height: 2em;
  }

  .bloque {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
  }
  .titSeccion,
  .titArtic {
    width: 100%;
    margin-top: 0.3em;
    font-size: 2em;
    line-height: 2em;
    font-variant: small-caps;
    font-weight: bolder;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    text-shadow: 2px 2px #646464c7;
  }
  .titArtic {
    border-right: 1px solid #f5f5f5ab;
    padding: 0.5em;
    margin: 0.5em;
    /* writing-mode: vertical-lr; */
  }

  .texSeccion {
    padding: 0.5em 7% 1.5em 7%;
    width: 83%;
    margin: auto;
    text-shadow: 2px 2px #2525259d;
    word-spacing: 0.12em;
    letter-spacing: 0.12em;
    font-size: 1.3em;
  }
  hr {
    width: 80%;
    border: 1px solid whitesmoke;
    text-shadow: 1px 1px #2525259d;
  }
  .tarjetaCuadrada,
  .tarjetaRectangular,
  .tarjetaPequena {
    width: 45%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    padding-left: 0px;
    /* box-shadow: 3px 3px 25px 1px #919191; */
    margin-bottom: 2em;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .primeraTarjeta {
    padding: 1em;
  }
  .tarjetaRectangular {
    width: 93%;
  }
  .tarjetaPequena {
    width: 29%;
  }
  .tarjetaTexto {
    text-shadow: 1px 1px #252525dc;
    font-size: 1.1em;
    word-spacing: 0.12em;
    letter-spacing: 0.12em;
  }
  .tarjetaCuadrada iframe,
  .tarjetaCuadrada img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
  }
  .tarjetaRectangular img {
    width: 40%;
    height: 90%;
    border-radius: 10px;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40);
  }
  .imagenes {
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .tarjeta {
    width: 8%;
    height: 100%;
    border-radius: 15px;
    background-size: auto 100%;
    background-color: black;
    cursor: pointer;
    transition: 1s;
    filter: blur(1px);
    display: flex;
    padding: 2em;
    align-items: flex-end;
    margin-bottom: 2em;
  }
  .tarjeta p {
    opacity: 0%;
    font-size: 1.2em;
  }
  .activa {
    width: 58%;
    transition: 1s;
    filter: blur(0px);
    cursor: default;
  }
  .activa p {
    text-shadow: 1px 1px black;
    font-weight: bolder;
    letter-spacing: 0.12em;
    font-variant: small-caps;
    opacity: 100%;
    white-space: nowrap;
    overflow-x: hidden;
  }
  /* Cambiar imagenes del pais */
  #tj1 {
    background-image: url("../VenezuelaImg/caracas-g3bf2d7a0b_1280.jpg");
  }
  #tj2 {
    background-image: url("../VenezuelaImg/Maracaibo_sunset.jpg");
  }
  #tj3 {
    background-image: url("../VenezuelaImg/960px-Vista_de_Prebo_desde_el_casupo_-_panoramio.jpg");
  }
  #tj4 {
    background-image: url("../VenezuelaImg/Barquisimeto.jpg");
  }
  #tj5 {
    background-image: url("../VenezuelaImg/Maracay.jpg");
  }
  /* Establecer imagenes de fondo de cada bloque */
  .b0 {
    padding-top: 3em;
    padding-bottom: 3em;
    background-image: url("../VenezuelaImg/veneFondo2.jpg");
    background-size: cover;
  }
  .b1 {
    padding-top: 3em;
    padding-bottom: 3em;
    background-image: url("../VenezuelaImg/veneFondo3.jpg");
    background-size: cover;
  }
  .b2 {
    padding-top: 3em;
    padding-bottom: 3em;
    background-image: url("../VenezuelaImg/veneFondo4.jpg");
    background-size: cover;
  }
  .b3 {
    padding-top: 3em;
    padding-bottom: 3em;
    background-image: url("../VenezuelaImg/veneFondo5.jpg");
    background-size: cover;
  }
