#contenedor {
  width: 100%;
  height: auto;
  background-color: rgb(245 245 245);
}

body {
  min-width: 1000px;
  min-height: 800px;
  max-width: 1623px;
  max-height: 1200px;
}


hr {
  margin-left: -23px;
}

body, h1, h2, h3, p, ul, li {
padding: 0;
list-style: none;
}

body {
margin: 0;
font-family: Arial, sans-serif;
line-height: 1.6;
}

#contenedor {
background-color: #f5f5f5;
padding: 20px;
}

h1 {  
  font-size: 32px;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.ori {
  width: 93%;
  margin-top: 5.7%;
  text-align: center;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

h2 {
  width: 93%;
  text-align: center;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  text-decoration: none;
  color: black
}

a {
  text-decoration: none;
}

h3 {
  text-align: left;
}

.h3-contenedor {
  position: relative;
  margin-left: 5.5%;
}

.h3-contenedor::after {
  content: "";
  width: 6.7%; 
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0; 
  left: 0;
}
.h3-contenedor2 {
  position: relative;
  margin-left: 5.5%;
}

.h3-contenedor2::after {
  content: "";
  width: 4.7%; 
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0; 
  left: 0;
}

.h3-contenedor3 {
  position: relative;
  margin-left: 5.5%;
}

.h3-contenedor3::after {
  content: "";
  width: 7.8%; 
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0; 
  left: 0;
}

p {
  width: 80%;
  text-align: justify;
  font-size: 1.13em;
  margin-left: 5.5%;
  margin-bottom: 2.15%;
}

.parrafo {
  width: 62.5%;
  margin-left: 18%;
  text-align: center;
  background-color:  black;
  color:  rgb(245 245 245);
}

.div1, .div2, .div3{
  padding-left: 5.5em;
  text-align: center;
}

.foto1 {
  float: right;
}

.foto3, .foto2 {
  width: 92%;
  margin: 1%;
  margin-top: 2.5%;
}

.portada {
  margin: -20px;
  padding: 0;
  background-image: url('../IMG/bandera6.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;   
}

.fotones {
  width: 102%;    
}

.fotones2 {
  width: 27%;
}

.fotones3 {
  width: 15%;
}

.fotones1 {
  width: 37%;
}

nav.enlaces {
text-align: center;
padding: 20px; 
}

nav.enlaces li {
  display: inline; 
  margin-right: -9px;
}

nav.enlaces li a.activa1, a.activa2, a.activa3 {
  text-decoration: none; 
  color: black; 
  padding: 9px 72px; 
  border: 5px solid black; 
  border-radius: 5px; 
  font-weight: bold;
}

li a.activa1{
  background-color: rgb(70, 135, 255); 
}

li a.activa2 {
  background-color: red; 
}

li a.activa3 {
  background-color: rgb(1, 144, 1); 
}

nav.enlaces li a:hover {
  background-color: rgb(245 245 245); 
}

/*INICIO*/
.li1 {
  list-style: none;
  display: inline-block;
  width: 98.8%;
  text-align: center;
  font-size: 1.3em;
}

.li1 a.a2 {
  text-decoration: none;
  color: black;
  transition: color 0.4s;
}

.li1 a.a2:hover {
  color: rgb(187, 171, 0); 
  font-weight: bold; 
}

.a2 {
color: black;
text-decoration-line: none;
}
/*INICIO*/

.submenu li {
  list-style: none;
  padding: 0;
}

.des {
  text-decoration: none;
  color: black;
  padding: 4px 36px;
  border: 2px solid black;
  border-radius: 3px;
  font-weight: bold;
  display: block;
  background-color: silver; 
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-transform: uppercase;
  box-sizing: content-box;
}

.boton {
  margin-right: -40px;
  background-color: #222;
  color: rgb(245 245 245);
  padding: 10px 0;
  text-align: center;
  font-size: 1.25em;
}

.texto{
  text-align: center;
  float: right;
  width: 30%;
}

img {
  width: 50%;
}

.h33 {
  font-size: 1.4em;
}

.div11 {
  width: 17%;
  display: inline-block;
  white-space: nowrap; 
}

.contacto span {
  display: block;
  margin-bottom: 10px;
  width: 32%;
}

span:hover {
  color: white;
}

.letra {
  font-size: 1.2em;
}

.tex {
  margin-right: -21px;
}

.acce {
  width: 82%;
  text-align: right;
}


.enlaces .des {
  width: 11%;
  border-bottom: 0.125em solid black;
  height: 1.5em;
  line-height: 1.5em;
  box-sizing: content-box;
}


li ul {
  width: 100%;
  display: none;
}

li ul li {
  display: block;
  width: 100%;
}

li:hover ul {
  display: block;
  width: 99%;
  position: relative;
  float: left;
}

ul .des {
  width: 50%;
  margin: 0.125em auto;
}

li .des {
  display: block;
  text-align: center;
  margin-top: 1%;
  margin-right: 20%;
  margin-bottom: -2.5%;
}
/*Fotos*/
.foto1:hover img {
  transform: scale(1.05);
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
}

.foto2:hover img {
  transform: scale(1.05);
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
}

.foto3:hover img {
  transform: scale(1.05);
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
}

h4 {
  width: 52.5%;
  text-align: right;
}

.musica {
  width: 48%;
  text-align: right;
}